<p>Local JSON Data</p>
<p>
  content works! <br>
  {{loginJSONDetails.id}} <br>
  {{loginJSONDetails.firstName + ' ' +loginJSONDetails.lastName  }}<br>
  {{loginJSONDetails.emailAddress}}<br>
  {{loginJSONDetails.shortName}}<br>
</p>

<br/><br/>

<p>Server Side Data</p>
<div *ngIf="login$ | async">
  <p *ngIf="(loginHTTPDetails | json) != '{}'">
    content works! <br>
    {{loginHTTPDetails.id}} <br>
    {{loginHTTPDetails.firstName + ' ' +loginHTTPDetails.lastName  }}<br>
    {{loginHTTPDetails.emailAddress}}<br>
    {{loginHTTPDetails.shortName}}<br>
  </p>
</div>

